.title {
  color: var(--main-text);
}

.search-form {
  max-width: 290px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-inline: auto;
}

.search-input {
  padding: 10px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 100px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.search-button {
  background-color: var(--bg);
  color: var(--other-text);
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
}
