.results {
  margin-top: 2rem;
  background-color: #333;
  min-height: 50vh;
  margin-inline: auto;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .card {
    flex-direction: column;
    margin: 10px 0;
  }

  .content {
    margin-inline: auto;
  }
}
